<div class="task-grid-container">

  <app-task-filter (filtersChanged)="onFiltersChanged($event)"></app-task-filter>

  <div class="btn">
    <button (click)="openCreateDialog()" pButton label="Criar Nova Tarefa"></button>
  </div>
  <app-task-form 
    (taskCreated)="loadTasks()" 
    (taskUpdated)="loadTasks()"
    [listLength]="tasks.length" 
    [(visible)]="visible" 
    (taskCreated)="addTask($event)"
    [taskToEdit]="editedTask"
    >
  </app-task-form>

  <p-table [value]="filteredTasks.length ? filteredTasks : tasks" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
          <tr>
            <th>Usuario</th>
            <th>Titulo</th>
            <th>Valor</th>
            <th>Data</th>
            <th>Pago</th>
            <th>Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-task>
          <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.value | currency:'USD' }}</td>
            <td>{{ task.date | date }}</td>
            <td>{{task.isPayed | paidUnpaid }}</td>
            <td>
              <button class="icn" (click)="openEditDialog(task)" pButton icon="pi pi-pencil" style="margin-right: 8px;"></button>
              <button class="icn"(click)="deleteTask(task)" pButton icon="pi pi-trash"></button>
            </td>
          </tr>
        </ng-template>
  </p-table>
</div>