.btn {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0 10px 0;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .field {
    width: 100%;
    margin-left: 10px;
  }
  
  span {
    margin-top: 20px;
  }
  