<p-accordion>
  <p-accordionTab header="Filtro">
      <form [formGroup]="filtroForm">
          <div class="input-container">
              <span class="p-float-label">
                  <input id="float-input" type="text" pInputText formControlName="name"> 
                  <label for="float-input">Usuario</label>
              </span>

          </div>
          <button class="btn" type="button" (click)="onPesquisar()" pButton label="Pesquisar"></button>


      </form>
  </p-accordionTab>
</p-accordion>
