<div class="task-grid-container">

  <app-task-filter (filtersChanged)="onFiltersChanged($event)"></app-task-filter>

    <div class="btn">
      <button (click)="openCreateDialog()" pButton label="Criar Novo Usuario"></button>
    </div>
    <app-user-form 
      [titleModal]="tittleModal"
      (userCreated)="loadTasks()" 
      (userUpdated)="loadTasks()"
      [listLength]="users.length" 
      [(visible)]="visible" 
      (userCreated)="addUser($event)"
      [userToEdit]="editedAccount"
      >
    </app-user-form>
  
    <p-table [value]="users" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Password</th>
              <th>Ações</th>

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ maskPassword(user.password) }}</td> <!-- Função para mascarar senha -->
              <td>
                <button class="icn" (click)="openEditDialog(user)" pButton icon="pi pi-pencil" style="margin-right: 8px;"></button>
                <button class="icn"(click)="deleteUser(user)" pButton icon="pi pi-trash"></button>
              </td>
            </tr>
          </ng-template>
    </p-table>
  </div>