<div *ngIf="isLoading" class="loading-container">
  <p-progressSpinner></p-progressSpinner>
  <h3>Carregando...</h3>
</div>

<div class="login-container">
  <h1 class="login-title">Bem-vindo pequeno padawan</h1>   <br />
  <div>
    
  </div>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    
    <div class="p-field">
      <h3>E-mail</h3>
      <input 
        pInputText 
        type="email" 
        id="email" 
        [(ngModel)]="email" 
        name="email" 
        required 
      />
    </div>

    <div class="p-field">
      <h3>Password</h3>
      
      <p-password 
        id="password" 
        name="password"
        class="custom-password-field" 
        [(ngModel)]="password"
        [feedback]="false" 
        [toggleMask]="true"
        required>
      </p-password>
    </div>

    <button 
      pButton 
      type="submit" 
      label="Entrar" 
      class="login-button" 
      [disabled]="!loginForm.valid">
    </button>
  </form>
</div> 
