.btn{
    display: flex; 
    justify-content: flex-end; 
    margin: 20px 0 10px 0;
}

span{
    margin-top:20px;
}

.input-container {
    display: flex;
    align-items: center; 
}
.field{
    margin-left:10px;
}





