<p-dialog [header]="titleModal"
          [closable]="false" 
          [position]="'right'" 
          [modal]="true" 
          [(visible)]="visible" 
          [style]="{ width: '25rem', height: '100vh' }" 
          [baseZIndex]="10000">

          <form [formGroup]="form" (ngSubmit)="createOrUpdateTask()">
            <div class="p-fluid">
                <div class="field">
                    <label for="name">Nome</label>
                    <input type="text" pInputText formControlName="name" id="name" />
                </div>
    
                <div class="field">
                    <label for="username">Usuário</label>
                    <input type="text" pInputText formControlName="username" id="username" />
                </div>
    
                <div class="field">
                    <label for="title">Titulo</label>
                    <input type="text" pInputText formControlName="title" id="title" />
                </div>
    
                <div class="field">
                    <label for="value">Valor</label>
                    <p-inputNumber formControlName="value"></p-inputNumber>
                </div>
    
                <div class="field">
                    <label for="date">Data</label>
                    <p-inputMask 
                        formControlName="date" 
                        id="date" placeholder="99/99/9999" 
                        mask="99/99/9999" 
                        slotChar="mm/dd/YYYY">
                    </p-inputMask>
                </div>
    
                <div class="field">
                    <label for="image">URL da Imagem</label>
                    <input type="text" pInputText formControlName="image" id="image" />
                </div>

                <div class="field">
                    <p-selectButton [options]="paymentOptions"  formControlName="isPayed" optionLabel="label" optionValue="value"></p-selectButton>
                </div>

            </div>
    
            <div class="buttons">
                <p-button label="Cancel" severity="secondary" (click)="close()"></p-button>
                <p-button label="Save" (click)="createOrUpdateTask()"></p-button>
            </div>
        </form>

</p-dialog>
